# Homeworks
<img src="https://pbs.twimg.com/media/De9Vi4EXUAEq9Rz.jpg" width="300">

### ❓**Ex1. Reverse a list:**

Given:

`list1 = [100, 200, 300, 400, 500]`

Expected output:

`[500, 400, 300, 200, 100]`

In [1]:
list1 = [100, 200, 300, 400, 500]

In [2]:
list1

[100, 200, 300, 400, 500]

In [3]:
# Your code here
list2 = list1[::-1]  # Reversing the list using slicing
list2

[500, 400, 300, 200, 100]

In [4]:
type(list2)

list

### ❓**Ex2: Convert two lists into a dictionary**

Below are the two lists. Help me to convert them into a dictionary in a way that items from list1 is the `key` and items from list2 is the `value`

Expected output: 

`{'Ten': 10, 'Twenty': 20, 'Thirty': 30}`

In [12]:
list1 = ['Ten', 'Twenty', 'Thirty']
list2 = [10, 20, 30]

In [10]:
# Sử dụng vòng lặp for để in từng phần tử trong list1 và list2
i = 0 
ex2 = {}
for k in list1:
    ex2[k] = list2[i]
    i += 1
ex2

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

### ❓**Ex3: Get all numbers inside the below sentence:**

<img src="https://i1-english.vnecdn.net/2023/04/03/ml1-1680522036.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=RyiN81Bji7ya3bJVpicL8w" width="600">

✳️ Hint: *str*`.isnumeric()`

Expected output: `'313732019661500016270'`

In [30]:
sen = '''At the auction held in Paris, France, on March 31, there were 373 paintings, lacquerware, ceramics, artifacts from the
Nguyen Dynasty, and bronze and ceramic works belonging to the School of Bien Hoa in the 20th century. A 1966 three-panel lacquer 
painting "Phong Canh Dong Bang Song Cuu Long" (Landscape of the Mekong Delta) by Nguyen Van Thanh was sold for 15,000 euros ($16,270).
It depicts a river with houses nestling under trees, a bridge over the river and children bathing buffaloes.'''

In [34]:
# Get all numbers:
number_list = []
for w in sen:
    if w.isnumeric():
        number_list.append(w)
number_list 
result = ''.join(number_list)  # Joining the list of numbers into a string
result

'313732019661500016270'

### **Ex4: Get all words contain leter "o" inside in the passage `sen`?**

✳️ Hint: operator: `in` and `not in`

In [15]:
sen = '''At the auction held in Paris, France, on March 31, there were 373 paintings, lacquerware, ceramics, artifacts from the
Nguyen Dynasty, and bronze and ceramic works belonging to the School of Bien Hoa in the 20th century. A 1966 three-panel lacquer 
painting "Phong Canh Dong Bang Song Cuu Long" (Landscape of the Mekong Delta) by Nguyen Van Thanh was sold for 15,000 euros ($16,270).
It depicts a river with houses nestling under trees, a bridge over the river and children bathing buffaloes.'''

In [16]:
sen

'At the auction held in Paris, France, on March 31, there were 373 paintings, lacquerware, ceramics, artifacts from the\nNguyen Dynasty, and bronze and ceramic works belonging to the School of Bien Hoa in the 20th century. A 1966 three-panel lacquer \npainting "Phong Canh Dong Bang Song Cuu Long" (Landscape of the Mekong Delta) by Nguyen Van Thanh was sold for 15,000 euros ($16,270).\nIt depicts a river with houses nestling under trees, a bridge over the river and children bathing buffaloes.'

In [19]:
# Your answer here:
kq_split = sen.split()
result = []
for word in kq_split:   # word là từng từ đơn lẻ trong kq_split
    if 'o' in word:
        result.append(word) # Nếu word có chữ 'o' thì append vào result
print(result)

['auction', 'on', 'from', 'bronze', 'works', 'belonging', 'to', 'School', 'of', 'Hoa', '"Phong', 'Dong', 'Song', 'Long"', 'of', 'Mekong', 'sold', 'for', 'euros', 'houses', 'over', 'buffaloes.']

### ❓**Ex5: Print the `value` of key `history` from the below `sampleDict`**

Expected output: 80

In [20]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [26]:
# your code here:
#sampleDict["class"]["student"]["marks"]["history"]
a = sampleDict["class"]
b = a["student"]
c = b["marks"]
d = c["history"]
print(d)  # Output: 80

80

In [27]:
# your code here:
sampleDict["class"]["student"]["marks"]["history"]

80

### ❓ **Ex6: Delete a list of keys from a dictionary**

given a list of keys that you want to delete inside the sample_dict below:

expected output: `{'age': 25, 'city': 'New york'}`

In [28]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Đổi tên biến remove_keys thành danh sách các keys cần xóa
remove_keys = ["name", "salary"]

In [29]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Đổi tên biến remove_keys thành danh sách các keys cần xóa
remove_keys = ["name", "salary"]

# Xóa các keys từ sample_dict
for key in remove_keys:
    sample_dict.pop(key)

print(sample_dict)

{'age': 25, 'city': 'New york'}

### ❓**Ex7: Remove duplicated values inside the below list with 2 versions:**

✳️ Hint: operator: `in` and `not in`

In [30]:
number_list = [10, 12, 4, 12, 11, 33, 234, 12, 3 , 10, 4, 33, 1000, 234]

In [31]:
# version 1: không quan tâm đến thứ tự vị trí của các số trong number_list
# your code here:

import random
unique_numbers = set(number_list)  # Sử dụng set để loại bỏ các số trùng lặp
unique_numbers = list(unique_numbers)  # Chuyển đổi set thành list
unique_numbers

[33, 3, 4, 1000, 10, 11, 12, 234]

In [32]:
# version 2: Không thay đổi thứ tự vị trí các con số trong number_list
# your code here:
number_list = [10, 12, 4, 12, 11, 33, 234, 12, 3 , 10, 4, 33, 1000, 234]
unique_numbers = set(number_list)  # Sử dụng set để loại bỏ các số trùng lặp
unique_numbers = list(unique_numbers)  # Chuyển đổi set thành list
unique_numbers

[33, 3, 4, 1000, 10, 11, 12, 234]

#### ❓**Ex8: Get the list of numbers divisible by 3 and the list of numbers divisible by 5 from the range of natural numbers from 0 to 50:**

*Expected output:*
+ Divisible by 3 list: `[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]`

+ Divisible by 5 list: `[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]`

In [10]:
# your code here:
# Tạo danh sách các số từ 0 đến 49
range_50 = list(range(0, 50))

# Tạo danh sách mới chỉ gồm các số chia hết cho 3
list_c3 = []
for i in range_50:
    if i % 3 == 0:
        list_c3.append(i)

# In kết quả
print(list_c3)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [11]:
# your code here:
# Tạo danh sách các số từ 0 đến 49
range_50b = list(range(0, 50))

# Tạo danh sách mới chỉ gồm các số chia hết cho 3
list_c5 = []
for i in range_50b:
    if i % 5 == 0:
        list_c5.append(i)

# In kết quả
print(list_c5)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

### ❓**Ex 9: File common values inside below list**
Expected output: `['apple', 'grape']`

➡️ hint: `in` and `not in`

In [1]:
fruit_set1 = ['apple', 'orange', 'banana', 'grape', 'lemon']
fruit_set2 = ['grape', 'pineapple', 'apple', 'watermelon', 'kiwi']
# Your code here:

### ❓**Ex 10: Given the list of students' scores below:**

Requirements: Classify scores according to the following grading scale and count the number of each type:
+ A: 90-100
+ B: 80-89
+ C: 70-79
+ D: 60-69
+ F: below 60
> Expected output: {'A': 2, 'B': 2, 'C': 2, 'D': 1, 'F': 2}

In [12]:
scores = (78, 45, 92, 65, 88, 72, 94, 59, 83)

# your code here:

In [13]:
scores = [95, 85, 72, 60, 59, 99, 88, 73, 45]

# Tạo dictionary ban đầu với giá trị là 0
grade_count = {'A': 0, 'B': 0, 'C': 0, 'D': 0, 'F': 0}

# Duyệt qua từng điểm trong danh sách
for score in scores:
    if 90 <= score <= 100:
        grade_count['A'] += 1
    elif 80 <= score <= 89:
        grade_count['B'] += 1
    elif 70 <= score <= 79:
        grade_count['C'] += 1
    elif 60 <= score <= 69:
        grade_count['D'] += 1
    else:
        grade_count['F'] += 1

print(grade_count)

{'A': 2, 'B': 2, 'C': 2, 'D': 1, 'F': 2}