# APPLIED DATA CLEANING ON KICKSTARTER DATASET

<img src='https://c3.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fill,w_695,g_auto,q_auto,dpr_2.6,f_auto,h_460/raayulrjgqrecunugw8y' width=600>

In [1]:
# Import pandas
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# Load dataset
# df = pd.read_csv('https://www.dropbox.com/s/k0fyjksq5c6cbvx/kickstarter_data.csv?dl=1', index_col=[0])
df = pd.read_csv('data\\kickstarter_data.csv')

# First 5 rows of the dataframe
df.sample(5)

,Unnamed: 0,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
323578,323578,718177192,Dawn McGhee,Documentary,Film & Video,USD,2011-11-24,5000.0,2011-09-25 00:42:04,1887.21,failed,21,US,1887.21,1887.21,5000.00
264092,264092,413192474,Enfutown Bumpers Card Game,Playing Cards,Games,USD,2017-10-22,6000.0,2017-09-22 15:00:48,8736.00,successful,413,US,2018.00,8736.00,6000.00
236435,236435,271937053,Karsten Torebjer - The Film√∂,Comedy,Film & Video,SEK,2016-12-16,1000000.0,2016-10-18 09:37:30,57192.00,failed,156,SE,3303.19,6098.98,106640.50
255046,255046,36701623,The Re-Assassination of Abraham Lincoln - Phase 1,Webseries,Film & Video,USD,2012-01-26,10000.0,2011-12-27 15:20:47,1528.69,failed,37,US,1528.69,1528.69,10000.00
341169,341169,807767310,www.wholivesinlondon.com,Web,Journalism,GBP,2014-12-14,8000.0,2014-11-14 10:42:41,502.00,failed,8,GB,791.82,785.53,12518.39

**ANNOTATION**

- Question: *graded* exercises to complete for score

- Task: *not graded* exercises, highly recommended to follow through

- Dataframe Columns:
    - `goal`: Goal set at the launched time.

    - `pledge`: Total amount of funding the project successfully called.

    - `backers`: Number of investors that fund the project.

    - `usd pledged`: conversion in US dollars of the pledged column (conversion done by kickstarter).

    - `usd_pledge_real`: conversion in US dollars of the pledged column (conversion from Fixer.io API).

    - `usd_goal_real`: conversion in US dollars of the goal column (conversion from Fixer.io API).

The dataset is acquired from Kaggle.com. You can visit it here: https://www.kaggle.com/kemical/kickstarter-projects

üôãüèª‚Äç‚ôÇÔ∏è **DISCUSSION :** Discuss with your teammate to:

- Understand the meaning of each column
- Is there any column that you feel unnecessary?

# A. OVERVIEW AND CLEAN

## **A.1** - Remove unwanted observations
---

### Task

We have many columns for the pledge and goal with different conversions. For this analysis, we choose to keep only `usd_pledged_real` and `usd_goal_real`. 

Write one line of code to drop the columns `goal`, `pledge`, `usd pledged`.

In [2]:
df.columns

Index(['Unnamed: 0', 'ID', 'name', 'category', 'main_category', 'currency',
       'deadline', 'goal', 'launched', 'pledged', 'state', 'backers',
       'country', 'usd pledged', 'usd_pledged_real', 'usd_goal_real'],
      dtype='object')

In [3]:
# YOUR CODE/ANSWER HERE
df.drop(['goal', 'pledged', 'usd pledged'], axis=1, inplace=True)

In [4]:
# Check your dataframe again to see if the columns are successfully dropped
df.head()

,Unnamed: 0,ID,name,category,main_category,currency,deadline,launched,state,backers,country,usd_pledged_real,usd_goal_real
0,0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,2015-08-11 12:12:28,failed,0,GB,0.0,1533.95
1,1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,2017-09-02 04:43:57,failed,15,US,2421.0,30000.00
2,2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,2013-01-12 00:20:50,failed,3,US,220.0,45000.00
3,3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,2012-03-17 03:24:11,failed,1,US,1.0,5000.00
4,4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,2015-07-04 08:35:03,canceled,14,US,1283.0,19500.00

In [5]:
df.columns

Index(['Unnamed: 0', 'ID', 'name', 'category', 'main_category', 'currency',
       'deadline', 'launched', 'state', 'backers', 'country',
       'usd_pledged_real', 'usd_goal_real'],
      dtype='object')

For future convenience, let's rename the columns as follows:

- `usd_pledged_real` --> `pledged`
- `usd_goal_real` --> `goal`

Write your code to do that below.

In [6]:
# YOUR CODE HERE
df = df.rename(columns={
    'usd_pledged_real': 'pledged',
    'usd_goal_real': 'goal'
})

In [7]:
# Check your dataframe again to see if your columns are successfully renamed
df.head()

,Unnamed: 0,ID,name,category,main_category,currency,deadline,launched,state,backers,country,pledged,goal
0,0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,2015-08-11 12:12:28,failed,0,GB,0.0,1533.95
1,1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,2017-09-02 04:43:57,failed,15,US,2421.0,30000.00
2,2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,2013-01-12 00:20:50,failed,3,US,220.0,45000.00
3,3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,2012-03-17 03:24:11,failed,1,US,1.0,5000.00
4,4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,2015-07-04 08:35:03,canceled,14,US,1283.0,19500.00

### Question 1 (5 pts)

Write one line of code to check for duplications (of the whole row). Your code should return only one number, which is the total number of duplicated rows.

In [8]:
# TEST YOUR CODE HERE
df.duplicated().sum()

0

### Question 2 (5 pts)

How about duplicated values in the column `name`? Which of the following expression gives the number of rows with duplicated names?

<ol type="A">
  <li><code>df['name'].isduplicated().sum()</code></li>
  <li><code>df[df['name'].duplicated()].sum()</code></li>
  <li><code>df['name'].duplicated().sum()</code></li>
  <li><code>df.duplicated().sum()</code></li>
</ol>

In [9]:
# YOUR CODE/ANSWER HERE

df['name'].duplicated().sum()

2896

### Question 3 (5 pts)

Which of the following expression selects all rows with duplicated names?

<ol type="A">
  <li><code>df(df['name'].duplicated())</code></li>
  <li><code>df[df['name'].duplicated()]</code></li>
  <li><code>df['name'].duplicated()</code></li>
  <li><code>df[df.duplicated()]</code></li>
</ol>

In [10]:
# TEST YOUR CODE HERE
df[df['name'].duplicated()]

,Unnamed: 0,ID,name,category,main_category,currency,deadline,launched,state,backers,country,pledged,goal
6379,6379,1032645935,Cancelled (Canceled),Design,Design,USD,2015-06-05,2015-05-06 12:29:08,canceled,17,US,3105.00,100000.00
7743,7743,1039093987,New EP/Music Development,Music,Music,USD,2016-01-07,2015-11-24 15:29:35,undefined,0,"N,0""",257.00,3800.00
8356,8356,1042208764,The Basement,Horror,Film & Video,USD,2015-05-07,2015-04-07 18:24:19,successful,106,US,12311.00,12000.00
8448,8448,1042642941,The Gift,Film & Video,Film & Video,USD,2013-05-08,2013-04-17 01:55:27,successful,37,US,3370.00,3000.00
8761,8761,1044230780,Redemption,Narrative Film,Film & Video,USD,2012-08-25,2012-06-26 19:13:21,successful,67,US,11440.00,11000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
378140,378140,997542782,Innocent Sin,Indie Rock,Music,USD,2015-01-25,2014-12-26 18:04:28,successful,15,US,600.00,300.00
378224,378224,997919903,Grassroots,Publishing,Publishing,EUR,2017-09-14,2017-08-15 18:36:18,failed,3,IE,25.12,11963.01
378426,378426,998836498,The InAction,Camera Equipment,Technology,USD,2016-07-29,2016-06-28 04:00:08,canceled,5,US,670.00,80000.00
378475,378475,999055513,The Last Hurrah,Rock,Music,USD,2012-06-03,2012-05-04 15:20:41,successful,69,US,7665.00,5500.00
378548,378548,999410766,Guilt,Shorts,Film & Video,USD,2014-05-16,2014-04-16 17:45:46,failed,7,US,791.00,65000.00

### Task

From duplicated **name**, Let's search for all the rows that have name '**The Gift**'.

In [11]:
df[df['name'] == 'The Gift']

,Unnamed: 0,ID,name,category,main_category,currency,deadline,launched,state,backers,country,pledged,goal
5003,5003,1025568649,The Gift,Shorts,Film & Video,USD,2014-05-10,2014-04-29 03:14:49,successful,27,US,4560.0,4500.0
8448,8448,1042642941,The Gift,Film & Video,Film & Video,USD,2013-05-08,2013-04-17 01:55:27,successful,37,US,3370.0,3000.0
77475,77475,1394078347,The Gift,Shorts,Film & Video,USD,2011-04-09,2011-03-09 00:15:36,failed,0,US,0.0,1500.0
135140,135140,168615922,The Gift,Shorts,Film & Video,USD,2011-12-31,2011-11-01 02:28:03,failed,0,US,0.0,10000.0

In [15]:
# YOUR CODE HERE

,Unnamed: 0,ID,name,category,main_category,currency,deadline,launched,state,backers,country,usd_pledged_real,usd_goal_real
8448,8448,1042642941,The Gift,Film & Video,Film & Video,USD,2013-05-08,2013-04-17 01:55:27,successful,37,US,3370.0,3000.0
77475,77475,1394078347,The Gift,Shorts,Film & Video,USD,2011-04-09,2011-03-09 00:15:36,failed,0,US,0.0,1500.0
135140,135140,168615922,The Gift,Shorts,Film & Video,USD,2011-12-31,2011-11-01 02:28:03,failed,0,US,0.0,10000.0

## **A.2** - Structural Error, Correct Datatype
---

### Task

Write one line of code to print the overall information of the dataset. Are there any columns that you feel like they have the wrong datatype?

In [12]:
# YOUR CODE HERE
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378661 entries, 0 to 378660
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     378661 non-null  int64
 1   ID             378661 non-null  int64
 2   name           378657 non-null  object
 3   category       378661 non-null  object
 4   main_category  378661 non-null  object
 5   currency       378661 non-null  object
 6   deadline       378661 non-null  object
 7   launched       378661 non-null  object
 8   state          378661 non-null  object
 9   backers        378661 non-null  int64
 10  country        378661 non-null  object
 11  pledged        378661 non-null  float64
 12  goal           378661 non-null  float64
dtypes: float64(2), int64(3), object(8)
memory usage: 37.6+ MB

The `launched` and `deadline` should be in `datetime` datatype, so you need to convert them to datetime datatype:

*Hint: pd.to_datetime()*

In [13]:
# Your code here:
df['launched'] = pd.to_datetime(df['launched'])
df['deadline'] = pd.to_datetime(df['deadline'])

Check info one more time to make sure everything goes as plan.

In [14]:
# YOUR CODE HERE
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378661 entries, 0 to 378660
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     378661 non-null  int64
 1   ID             378661 non-null  int64
 2   name           378657 non-null  object
 3   category       378661 non-null  object
 4   main_category  378661 non-null  object
 5   currency       378661 non-null  object
 6   deadline       378661 non-null  datetime64[ns]
 7   launched       378661 non-null  datetime64[ns]
 8   state          378661 non-null  object
 9   backers        378661 non-null  int64
 10  country        378661 non-null  object
 11  pledged        378661 non-null  float64
 12  goal           378661 non-null  float64
dtypes: datetime64[ns](2), float64(2), int64(3), object(6)
memory usage: 37.6+ MB

## **A.3** - Handling Missing Values
---

### Question 4 (5 pts)

Which of the following expression(s) give the number of null values in *each* column?

<ol type="A">
  <li><code>df.isna().sum()</code></li>
  <li><code>df.null().sum()</code></li>
  <li><code>df.isnull().sum()</code></li>
  <li><code>sum(df.isnull())</code></li>
  <li><code>df.isna.sum()</code></li>
  <li><code>sum(df.isna())</code></li>
</ol>

In [15]:
# TEST YOUR CODE HERE
df.isna().sum()

Unnamed: 0       0
ID               0
name             4
category         0
main_category    0
currency         0
deadline         0
launched         0
state            0
backers          0
country          0
pledged          0
goal             0
dtype: int64

In [16]:
df.isnull().sum()

Unnamed: 0       0
ID               0
name             4
category         0
main_category    0
currency         0
deadline         0
launched         0
state            0
backers          0
country          0
pledged          0
goal             0
dtype: int64

### Task

Write one line of code to fill all the `NaN` values in name with `Unknown`.

In [17]:
# YOUR CODE HERE
df['name'] = df['name'].fillna('Unknown')

Check the number of `NaN` value one more time to make sure we cleaned them all.

In [18]:
# YOUR CODE HERE
df.isnull().sum()

Unnamed: 0       0
ID               0
name             0
category         0
main_category    0
currency         0
deadline         0
launched         0
state            0
backers          0
country          0
pledged          0
goal             0
dtype: int64

## **A.4** - Handling errors, corrupted data
---

Scanning through each column to find abnormalities and fix them. Simple as that.

In [19]:
# Display the dataframe one more time.
df.head()

,Unnamed: 0,ID,name,category,main_category,currency,deadline,launched,state,backers,country,pledged,goal
0,0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,2015-08-11 12:12:28,failed,0,GB,0.0,1533.95
1,1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,2017-09-02 04:43:57,failed,15,US,2421.0,30000.00
2,2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,2013-01-12 00:20:50,failed,3,US,220.0,45000.00
3,3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,2012-03-17 03:24:11,failed,1,US,1.0,5000.00
4,4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,2015-07-04 08:35:03,canceled,14,US,1283.0,19500.00

### Question 5 (5 pts)

Let's start with `category`. Write an expression to display the frequency of the value in the column `category`. (The unique values and how many times they appear)

In [20]:
# TEST YOUR CODE HERE
df['category'].value_counts()

category
Product Design     22314
Documentary        16139
Music              15727
Tabletop Games     14180
Shorts             12357
                   ...
Residencies           69
Letterpress           49
Chiptune              35
Literary Spaces       27
Taxidermy             13
Name: count, Length: 159, dtype: int64

### Question 6 (5 pts)

Everything seems fine. We now move on to `main_category`. Write an expression to display the frequency of the value in the column `main_category`.

In [19]:
# TEST YOUR CODE HERE

Film & Video    63585
Music           51918
Publishing      39874
Games           35231
Technology      32569
Design          30070
Art             28153
Food            24602
Fashion         22816
Theater         10913
Comics          10819
Photography     10779
Crafts           8809
Journalism       4755
Dance            3768
Name: main_category, dtype: int64

In [21]:
df['main_category'].value_counts()

main_category
Film & Video    63585
Music           51918
Publishing      39874
Games           35231
Technology      32569
Design          30070
Art             28153
Food            24602
Fashion         22816
Theater         10913
Comics          10819
Photography     10779
Crafts           8809
Journalism       4755
Dance            3768
Name: count, dtype: int64

### Task

Let's do the same for `currency` and `state`. Find anything abnormal?

In [22]:
df['currency'].value_counts()

currency
USD    295365
GBP     34132
EUR     17405
CAD     14962
AUD      7950
SEK      1788
MXN      1752
NZD      1475
DKK      1129
CHF       768
NOK       722
HKD       618
SGD       555
JPY        40
Name: count, dtype: int64

In [20]:
# YOUR CODE HERE

USD    295365
GBP     34132
EUR     17405
CAD     14962
AUD      7950
SEK      1788
MXN      1752
NZD      1475
DKK      1129
CHF       768
NOK       722
HKD       618
SGD       555
JPY        40
Name: currency, dtype: int64

In [23]:
# YOUR CODE HERE
df['state'].value_counts()

state
failed        197719
successful    133956
canceled       38779
undefined       3562
live            2799
suspended       1846
Name: count, dtype: int64

### Question 7 (5 pts)

Are there any abnormalities in the column `country`?

<ol type="A">
  <li>Nope, totally fine.</li>
  <li>There is no project in US.</li>
  <li>There are two different values that both represent Canada.</li>
  <li>There is a weird value called <code>N,0"</code>.</li>
</ol>

In [24]:
# TEST YOUR CODE HERE
df['country'].value_counts()

country
US      292627
GB       33672
CA       14756
AU        7839
DE        4171
N,0"      3797
FR        2939
IT        2878
NL        2868
ES        2276
SE        1757
MX        1752
NZ        1447
DK        1113
IE         811
CH         761
NO         708
HK         618
BE         617
AT         597
SG         555
LU          62
JP          40
Name: count, dtype: int64

#### *Click to see my solution*

One way to adjust the error in the column `country` is to refer it with the column `currency`.

For example, if the `currency` is `USD`, we can set the value in `country` to `US`.

### Question 8 (5 pts)

Write an expression to select all rows with that weird value above (`N,0"`).

In [25]:
# TEST YOUR CODE HERE
df[df['country'] == 'N,0"']

,Unnamed: 0,ID,name,category,main_category,currency,deadline,launched,state,backers,country,pledged,goal
169,169,1000694855,STREETFIGHTERZ WHEELIE MURICA,Film & Video,Film & Video,USD,2014-09-20,2014-08-06 21:28:36,undefined,0,"N,0""",555.00,6500.00
328,328,100149523,Duncan Woods - Chameleon EP,Music,Music,AUD,2015-08-25,2015-08-04 12:05:17,undefined,0,"N,0""",3402.08,3211.53
632,632,1003023003,The Making of Ashley Kelley's Debut Album,Music,Music,USD,2015-04-09,2015-03-10 20:06:13,undefined,0,"N,0""",3576.00,3500.00
647,647,1003130892,Butter Side Down Debut Album,Music,Music,USD,2015-11-26,2015-11-02 22:09:19,undefined,0,"N,0""",7007.80,6000.00
749,749,1003629045,Chase Goehring debut EP,Music,Music,USD,2016-03-21,2016-02-23 03:09:49,undefined,0,"N,0""",3660.38,3000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
378233,378233,997971307,"EQUUS International Film Festival¬Æ, all-equine...",Film & Video,Film & Video,USD,2015-02-03,2014-12-05 04:19:14,undefined,0,"N,0""",10.00,7500.00
378303,378303,998319149,Emily 2050 - Short Film,Film & Video,Film & Video,CAD,2014-05-23,2014-04-08 00:30:09,undefined,0,"N,0""",2845.61,2752.04
378434,378434,9988744,Matthew Stephens Music,Music,Music,USD,2016-02-05,2016-01-06 21:59:23,undefined,0,"N,0""",235.00,5000.00
378585,378585,999610349,Lady Vendredi: Afrofuturist concept 12 inch EP,Music,Music,GBP,2015-10-19,2015-09-21 22:33:18,undefined,0,"N,0""",3273.36,3080.81
378588,378588,999621278,Jeune auteur a besoin de vous!,Publishing,Publishing,EUR,2015-11-20,2015-10-21 21:28:13,undefined,0,"N,0""",0.00,1710.08

### Question 9 (5 pts)

Write one line of code to return the ***unique currencies*** of the projects that have country as `N,0"`?

In [26]:
# TEST YOUR CODE HERE
df[df['country'] == 'N,0"']['currency'].unique()

array(['USD', 'AUD', 'CAD', 'GBP', 'EUR', 'SEK', 'DKK', 'NZD', 'NOK',
       'CHF'], dtype=object)

### Task

Our mission is apply a check function onto each row of the country-N0" part.

First, define a function that takes in a whole data row. 

- If currency is `USD` ---> country is `US`
- If currency is `AUD` ---> country is `AU`
- If currency is `CAD` ---> country is `CA`
- If currency is `GBP` ---> country is `GB`
- If currency is `SEK` ---> country is `SE`
- If currency is `DKK` ---> country is `DK`
- If currency is `NZD` ---> country is `NZ`
- If currency is `NOK` ---> country is `NO`
- If currency is `CHF` ---> country is `CH`
- If currency is `EUR` ---> country is `DE`

In the `EUR` case, we choose to replace by the mode --- `DE` (Within projects that in `EUR`, the most are from `DE` -- Germany)

In [27]:
def fix_country(row):
    # YOUR CODE HERE
    if row['country'] == 'N,0"':
        if row['currency'] == 'USD':
            return 'US'
        elif row['currency'] == 'AUD':
            return 'AU'
        elif row['currency'] == 'CAD':
            return 'CA'
        elif row['currency'] == 'GBP':
            return 'GB'
        elif row['currency'] == 'SEK':
            return 'SE'
        elif row['currency'] == 'DKK':
            return 'DK'
        elif row['currency'] == 'NZD':
            return 'NZ'
        elif row['currency'] == 'NOK':
            return 'NO'
        elif row['currency'] == 'CHF':
            return 'CH'
        elif row['currency'] == 'EUR':
            return 'DE'  
    return row['country']

In [28]:
# Apply and then write it back to the dataframe
df.loc[df['country'] == 'N,0"', 'country'] = df[df['country'] == 'N,0"'].apply(fix_country, axis=1)

In [29]:
# Check the column again to make sure the N0" is gone
df['country'].value_counts()

country
US    295365
GB     34132
CA     14962
AU      7950
DE      4357
FR      2939
IT      2878
NL      2868
ES      2276
SE      1788
MX      1752
NZ      1475
DK      1129
IE       811
CH       768
NO       722
HK       618
BE       617
AT       597
SG       555
LU        62
JP        40
Name: count, dtype: int64

In [30]:
# Check l·∫°i gi√° tr·ªã N,0"
df[df['country'] == 'N,0"']['currency'].unique()

array([], dtype=object)

### Question 10 (5 pts)

Let's move on to the numeric columns.

Write one line of code to give the descriptive statistic review of three columns: `backers`, `pledged`, and `goal`.

In [31]:
# TEST YOUR CODE HERE
df[['backers', 'pledged', 'goal']].describe()

             backers       pledged          goal
count  378661.000000  3.786610e+05  3.786610e+05
mean      105.617476  9.058924e+03  4.545440e+04
std       907.185035  9.097334e+04  1.152950e+06
min         0.000000  0.000000e+00  1.000000e-02
25%         2.000000  3.100000e+01  2.000000e+03
50%        12.000000  6.243300e+02  5.500000e+03
75%        56.000000  4.050000e+03  1.550000e+04
max    219382.000000  2.033899e+07  1.663614e+08

üí° **Tips:** Your question right now is what the heck is `e+05` and `e+04`. This in Python called scientific style. `e+04` means `*10e4` or `*10000`.

If you don't like it, you can use the syntax below. After you run the code, all the report later will be printed in 2 decimal float format.

In [32]:
pd.options.display.float_format = "{:.2f}".format
# let's run df.describe() again:
df.describe()

,Unnamed: 0,ID,deadline,launched,backers,pledged,goal
count,378661.00,378661.00,378661,378661,378661.00,378661.00,378661.00
mean,189330.00,1074731191.99,2014-11-01 16:04:27.950488832,2014-09-28 18:06:17.416520448,105.62,9058.92,45454.40
min,0.00,5971.00,2009-05-03 00:00:00,1970-01-01 01:00:00,0.00,0.00,0.01
25%,94665.00,538263516.00,2013-06-08 00:00:00,2013-05-07 22:14:27,2.00,31.00,2000.00
50%,189330.00,1075275634.00,2015-01-14 00:00:00,2014-12-10 03:23:41,12.00,624.33,5500.00
75%,283995.00,1610148624.00,2016-04-28 00:00:00,2016-03-24 10:21:09,56.00,4050.00,15500.00
max,378660.00,2147476221.00,2018-03-03 00:00:00,2018-01-02 15:02:31,219382.00,20338986.27,166361390.71
std,109310.16,619086204.32,NaN,NaN,907.19,90973.34,1152950.06

Everything seems fine. No projects have abnormality in these numeric columns.

### Question 11 (10 pts)

üëë **The best project** --- Write one line of code to get the row of the project that have the max pledged.

In [33]:
print('Max pledge is:', df['pledged'].max())

Max pledge is: 20338986.27

In [34]:
# TEST YOUR CODE HERE
df[df['pledged'] == df['pledged'].max()]

,Unnamed: 0,ID,name,category,main_category,currency,deadline,launched,state,backers,country,pledged,goal
157270,157270,1799979574,"Pebble Time - Awesome Smartwatch, No Compromises",Product Design,Design,USD,2015-03-28,2015-02-24 15:44:42,successful,78471,US,20338986.27,500000.00

You have done a lot of coding. Now, take a bit time off, google and read about this awesome product design project called `'Pebble Time - Awesome Smartwatch, No Compromises'` that attracts the most pledge on Kickstarter history.

### Question 12 (10 pts)

‚ù§Ô∏è **The top favorite** --- Write one line of code to get the row of the project that have the max backers.

In [36]:
print('Max backer is:', df['backers'].max())

Max backer is: 219382

In [37]:
# TEST YOUR CODE HERE
df[df['backers'] == df['backers'].max()]

,Unnamed: 0,ID,name,category,main_category,currency,deadline,launched,state,backers,country,pledged,goal
187652,187652,1955357092,Exploding Kittens,Tabletop Games,Games,USD,2015-02-20,2015-01-20 19:00:19,successful,219382,US,8782571.99,10000.00

Is the product sounds familiar? You can buy this at any convenient store in Vietnam nowaday. ü•≥

### Question 13 (10 pts)

ü§ë **The most ambitious** --- Write one line of code to get the row of the project that set the max goal.

In [38]:
print('Max goal is:', df['goal'].max())

Max goal is: 166361390.71

In [39]:
# TEST YOUR CODE HERE
df[df['goal'] == df['goal'].max()]

,Unnamed: 0,ID,name,category,main_category,currency,deadline,launched,state,backers,country,pledged,goal
47803,47803,1243678698,FUCK Potato Salad. Paleo Potato Brownies!,Food,Food,GBP,2014-08-08,2014-07-09 00:24:34,failed,0,GB,0.00,166361390.71

### Finally, the last two columns left are the two datetime `launched` and `deadline`.

### Question 14 (10 pts)

Write one line of code to get the minimum value of the column `launched`.

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378661 entries, 0 to 378660
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     378661 non-null  int64
 1   ID             378661 non-null  int64
 2   name           378661 non-null  object
 3   category       378661 non-null  object
 4   main_category  378661 non-null  object
 5   currency       378661 non-null  object
 6   deadline       378661 non-null  datetime64[ns]
 7   launched       378661 non-null  datetime64[ns]
 8   state          378661 non-null  object
 9   backers        378661 non-null  int64
 10  country        378661 non-null  object
 11  pledged        378661 non-null  float64
 12  goal           378661 non-null  float64
dtypes: datetime64[ns](2), float64(2), int64(3), object(6)
memory usage: 37.6+ MB

In [41]:
# TEST YOUR CODE HERE
df['launched'].min()

Timestamp('1970-01-01 01:00:00')

### Question 15 (10 pts)

Write one line of code to get the maximum value of the column `launched`.

In [42]:
# TEST YOUR CODE HERE
df['launched'].max()

Timestamp('2018-01-02 15:02:31')

- The earliest data --- 1970 doesn't make sense at all. So we filter out all the data that set launched year before the founding of Kickstarter (2009).

- The latest data is in the second day of 2018. That's not enough to have a view for 2018 and might effect to analysis in year level, or month level. So we exclude the incomplete data of 2018.

üëâ Do you still remember how to extract datetime components from a date:

```python
# Extract year, month, day
date_series.dt.year
date_series.dt.month
date_series.dt.day

# Extract hour, minute, second
date_series.dt.hour
date_series.dt.minute
date_series.dt.second

# Extract dayofweek, week, quarter
date_series.dt.dayofweek
date_series.dt.isocalendar().week
date_series.dt.quarter

# Extract year-month
date_series.dt.to_period('M')
```

+ Choose to work with data from the beginning of the year 2009 to the end of the year 2017 only.

In [40]:
# Choose to work with data from the beginning of the year 2009 to the end of the year 2017 only.
# FILL-IN THE ___ BELOW:
df2 = df[(df['launched'].dt.___ > 2009) & (df['launched'].dt.___ < 2018)]

,Unnamed: 0,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
1,1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.00,2017-09-02 04:43:57,2421.00,failed,15,US,100.00,2421.00,30000.00
5,5,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,50000.00,2016-02-26 13:38:27,52375.00,successful,224,US,52375.00,52375.00,50000.00
7,7,1000030581,Chaser Strips. Our Strips make Shots their B*tch!,Drinks,Food,USD,2016-03-17,25000.00,2016-02-01 20:05:12,453.00,failed,40,US,453.00,453.00,25000.00
13,13,1000056157,G-Spot Place for Gamers to connect with eachot...,Games,Games,USD,2016-03-25,200000.00,2016-02-09 23:01:12,0.00,failed,0,US,0.00,0.00,200000.00
14,14,1000057089,Tombstone: Old West tabletop game and miniatur...,Tabletop Games,Games,GBP,2017-05-03,5000.00,2017-04-05 19:44:18,94175.00,successful,761,GB,57763.78,121857.33,6469.73

In [43]:
# 

df2 = df[(df['launched'].dt.year >= 2009) & (df['launched'].dt.year < 2018)]
df2.sample(5)

,Unnamed: 0,ID,name,category,main_category,currency,deadline,launched,state,backers,country,pledged,goal
279567,279567,492169395,/VANITAS/,Experimental,Theater,USD,2016-10-27,2016-10-07 23:31:15,successful,47,US,2656.18,2300.00
289099,289099,541050545,Planter Box,Crafts,Crafts,USD,2017-04-07,2017-03-08 16:21:49,failed,38,US,2449.00,4500.00
325053,325053,725497816,Award Winning Barbecue Restaurant in Hampstead...,Food,Food,USD,2015-08-21,2015-07-22 04:20:03,failed,19,US,1571.00,7000.00
243780,243780,309921314,America's Beautiful Birds,Photobooks,Photography,USD,2014-10-14,2014-08-15 15:25:02,failed,2,US,50.00,25000.00
76540,76540,1389530124,The Second Annual Kickstarter Film Festival,Film & Video,Film & Video,USD,2011-07-06,2011-06-29 20:47:02,successful,217,US,3336.00,3000.00

In [44]:
# Check the column one more time
df2['launched'].min()

Timestamp('2009-04-21 21:02:48')

In [45]:
df2['launched'].max()

Timestamp('2017-12-31 23:37:20')

### Final Task

The last task that we should do in cleaning this dataset is to create new columns extract `day`, `month`, `year` from the two columns `launched` and `deadline`. This will help us in the future when we analyse on year, on month, or on day. For example: number of project by year. 

In data analysis, this is a simple feature engineering.

In [ ]:
df['launched_day'] =    df['launched'].dt.day
df['launched_month'] =  # Your code here
df['launched_year'] =   # Your code here

In [46]:
df['launched_day'] = df['launched'].dt.day
df['launched_month'] = df['launched'].dt.month
df['launched_year'] = df['launched'].dt.year

In [47]:
# Do the same thing with deadline column
# YOUR CODE HERE
df['deadline_day'] = df['deadline'].dt.day
df['deadline_month'] = df['deadline'].dt.month
df['deadline_year'] = df['deadline'].dt.year

YAYYY!!! WE HAVE DONE EVERTHING. ü§© Finally you got a clean dataset that is ready for analysis. 

Let's view out beautiful dataset again.

In [48]:
# View our data again
df

,Unnamed: 0,ID,name,category,main_category,currency,deadline,launched,state,backers,country,pledged,goal,launched_day,launched_month,launched_year,deadline_day,deadline_month,deadline_year
0,0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,2015-08-11 12:12:28,failed,0,GB,0.00,1533.95,11,8,2015,9,10,2015
1,1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,2017-09-02 04:43:57,failed,15,US,2421.00,30000.00,2,9,2017,1,11,2017
2,2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,2013-01-12 00:20:50,failed,3,US,220.00,45000.00,12,1,2013,26,2,2013
3,3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,2012-03-17 03:24:11,failed,1,US,1.00,5000.00,17,3,2012,16,4,2012
4,4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,2015-07-04 08:35:03,canceled,14,US,1283.00,19500.00,4,7,2015,29,8,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378656,378656,999976400,ChknTruk Nationwide Charity Drive 2014 (Canceled),Documentary,Film & Video,USD,2014-10-17,2014-09-17 02:35:30,canceled,1,US,25.00,50000.00,17,9,2014,17,10,2014
378657,378657,999977640,The Tribe,Narrative Film,Film & Video,USD,2011-07-19,2011-06-22 03:35:14,failed,5,US,155.00,1500.00,22,6,2011,19,7,2011
378658,378658,999986353,Walls of Remedy- New lesbian Romantic Comedy f...,Narrative Film,Film & Video,USD,2010-08-16,2010-07-01 19:40:30,failed,1,US,20.00,15000.00,1,7,2010,16,8,2010
378659,378659,999987933,BioDefense Education Kit,Technology,Technology,USD,2016-02-13,2016-01-13 18:13:53,failed,6,US,200.00,15000.00,13,1,2016,13,2,2016
378660,378660,999988282,Nou Renmen Ayiti! We Love Haiti!,Performance Art,Art,USD,2011-08-16,2011-07-19 09:07:47,failed,17,US,524.00,2000.00,19,7,2011,16,8,2011

In [49]:
df['deadline'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 378661 entries, 0 to 378660
Series name: deadline
Non-Null Count   Dtype
--------------   -----
378661 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 2.9 MB

As you can see, cleaning data is a meticulous process that takes a lot of time. In real life, it can take up to days and requires a lot of domain knowledge. Treat this notebook as a guideline or a case study to start with. Be creative when adapt to your personal project! Good luck ü•∏ üßöüèª‚Äç‚ôÇÔ∏è

# B. FUN TASK:

Using IQR to filter the projects that set the goal way too ambitious or too humble.

In [51]:
# Create a new column called 'exceed' which is the difference of 'pledged' and 'goal'
# YOUR CODE HERE
df['exceed'] = df['pledged'] - df['goal']

In [53]:
# Now apply IQR on the column 'exceed', calculate the upper whisker and lower whisker
# YOUR CODE HERE
Q1 = df['exceed'].quantile(0.25)
Q3 = df['exceed'].quantile(0.75)
IQR = Q3 - Q1

Everything above the upper whisker means that the project attracts A LOT of money compared to its original goal.

In [54]:
# Filter out the projects that above the upper whisker.
# YOUR CODE HERE
upper_whisker = Q3 + 1.5 * IQR
df_above_upper = df[df['exceed'] > upper_whisker]

print(df_above_upper.head())

    Unnamed: 0          ID                                               name  \
14          14  1000057089  Tombstone: Old West tabletop game and miniatur...
27          27  1000104688                                Permaculture Skills
31          31  1000117861                  Ledr workbook: one tough journal!
46          46  1000183112                            Hot Chicken Takes Over.
63          63  1000235643                                       HIIT Bottle‚Ñ¢

          category main_category currency   deadline            launched  \
14  Tabletop Games         Games      GBP 2017-05-03 2017-04-05 19:44:18
27       Webseries  Film & Video      CAD 2014-12-14 2014-11-14 18:02:00
31  Product Design        Design      USD 2016-10-08 2016-09-07 13:14:26
46     Restaurants          Food      USD 2014-10-16 2014-09-16 02:31:08
63          Drinks          Food      USD 2015-04-27 2015-03-13 18:33:08

         state  backers country   pledged     goal  launched_day  \
14  successful      761      GB 121857.33  6469.73             5
27  successful      571      CA  42174.03 15313.04            14
31  successful      549      US  47266.00  1000.00             7
46  successful      855      US  63401.00 40000.00            16
63  successful     2784      US 124998.00 15000.00            13

    launched_month  launched_year  deadline_day  deadline_month  \
14               4           2017             3               5
27              11           2014            14              12
31               9           2016             8              10
46               9           2014            16              10
63               3           2015            27               4

    deadline_year    exceed
14           2017 115387.60
27           2014  26860.99
31           2016  46266.00
46           2014  23401.00
63           2015 109998.00

Everything below the lower whisker means that the project set the goal way TOO HIGH compared to its real potential.

In [55]:
# Filter out the projects that below the lower whisker.
# YOUR CODE HERE
lower_whisker = Q1 - 1.5 * IQR
df_below_lower = df[df['exceed'] < lower_whisker]

print(df_below_lower.head())

    Unnamed: 0          ID                                               name  \
1            1  1000003930      Greeting From Earth: ZGAC Arts Capsule For ET
2            2  1000004038                                     Where is Hank?
8            8  1000034518  SPIN - Premium Retractable In-Ear Headphones w...
9            9   100004195  STUDIO IN THE SKY - A Documentary Feature Film...
13          13  1000056157  G-Spot Place for Gamers to connect with eachot...

          category main_category currency   deadline            launched  \
1   Narrative Film  Film & Video      USD 2017-11-01 2017-09-02 04:43:57
2   Narrative Film  Film & Video      USD 2013-02-26 2013-01-12 00:20:50
8   Product Design        Design      USD 2014-05-29 2014-04-24 18:14:43
9      Documentary  Film & Video      USD 2014-08-10 2014-07-11 21:55:48
13           Games         Games      USD 2016-03-25 2016-02-09 23:01:12

       state  backers country  pledged      goal  launched_day  \
1     failed       15      US  2421.00  30000.00             2
2     failed        3      US   220.00  45000.00            12
8   canceled       58      US  8233.00 125000.00            24
9   canceled       43      US  6240.57  65000.00            11
13    failed        0      US     0.00 200000.00             9

    launched_month  launched_year  deadline_day  deadline_month  \
1                9           2017             1              11
2                1           2013            26               2
8                4           2014            29               5
9                7           2014            10               8
13               2           2016            25               3

    deadline_year     exceed
1            2017  -27579.00
2            2013  -44780.00
8            2014 -116767.00
9            2014  -58759.43
13           2016 -200000.00

From here, you can further explore the "too successful" projects and the "too failed" projects. For example, what kind of category tend to be too-successful, what opposite? Which country they are from? etc. 

Feel free to code and post your insights to Community. HAVE FUNNN üßôüèª‚Äç‚ôÇÔ∏è